* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.active {
  color: rgb(82, 204, 221);
}

.app-container {
  text-align: center;
  height: 100vh;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 5rem;
}

li {
  list-style: none;
  padding: 0.5rem;
  text-decoration: none;
}

nav {
  /* background-color: rgb(252, 200, 132); */
  width: 100vw;
  height: 3rem;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(174, 238, 233, 1) 22%,
    rgba(228, 233, 148, 1) 91%
  );
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
